<div class="row d-flex justify-content-center"> 
      <div class="d-flex justify-content-center col-sm-3"></div>
      <div class="d-flex justify-content-center col-sm-6">
            <h2>Login:</h2>
            <form class="" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                  <div class="">
                        <label for="uname"><b>Email</b></label>
                        <input id="loginUsername" type="email" placeholder="Enter Username" name="uname" formControlName="email" class="form-control ">
                        <ng-container *ngIf="lf.email.errors && lf.email.touched && lf.email.invalid && lf.email.errors.required">
                              <div class="alert alert-danger">
                                          <div>Email is required.</div>
                              </div>
                        </ng-container>
                        <ng-container *ngIf="lf.email.errors && lf.email.touched && lf.email.invalid">
                              <div class="alert alert-danger">
                                          <div>Email must be in the form of emailaddress@email.com.</div>
                              </div>
                        </ng-container>
                  
                        <label for="psw"><b>Password</b></label>
                        <input id="loginPassword" type="password" placeholder="Enter Password" name="psw" formControlName="password" class="form-control ">
                        <ng-container *ngIf="lf.password.errors && lf.password.touched && lf.password.invalid && lf.password.errors.required">
                              <div class="alert alert-danger">
                                          <div>Password is required.</div>
                              </div>
                        </ng-container>

                        <br>
                        <button id="loginSubmit" [disabled]="!loginForm.valid"  type="submit">Login</button>
                        <ngb-alert *ngIf="loginMessage" [animation]="false" [dismissible]="true" [type]="loginAlertType">{{loginMessage}}</ngb-alert>
                  </div>
            </form>
      </div>
      <div class="d-flex justify-content-center col-sm-3 hidden">
            <h2>Register:</h2>
            <form class="" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
                  <div class="">
            
                        <label for="name"><b>Name</b></label>
                        <input id="registerName" type="text" placeholder="Enter Name" name="name" formControlName="name" class="form-control ">
                        <ng-container *ngIf="rf.name.errors && rf.name.touched && rf.name.invalid && rf.name.errors.required">
                              <div class="alert alert-danger">
                                          <div>Name is required.</div>
                              </div>
                        </ng-container>
            
                        <label for="uname"><b>Email</b></label>
                        <input id="registerUsername" type="email" placeholder="Enter Username" name="uname" formControlName="email" class="form-control ">
                        <ng-container *ngIf="rf.email.errors && rf.email.touched && rf.email.invalid && rf.email.errors.required">
                              <div class="alert alert-danger">
                                          <div>Email is required.</div>
                              </div>
                        </ng-container>
                        <ng-container *ngIf="rf.email.errors && rf.email.touched && rf.email.invalid">
                              <div class="alert alert-danger">
                                          <div>Email must be in the form of emailaddress@email.com.</div>
                              </div>
                        </ng-container>
                  
                        <label for="psw"><b>Password</b></label>
                        <input id="registerPassword" type="password" placeholder="Enter Password" name="psw" formControlName="password" class="form-control ">
                        <ng-container *ngIf="rf.password.errors && rf.password.touched && rf.password.invalid && rf.password.errors.required">
                              <div class="alert alert-danger">
                                          <div>Password is required.</div>
                              </div>
                        </ng-container>
                        <ng-container *ngIf="rf.password.errors && rf.password.touched && rf.password.invalid">
                              <div class="alert alert-danger">
                                          <div>Password must be at least 8 characters.</div>
                              </div>
                        </ng-container>
                        
                        <br>
                        <button id="registerSubmit" [disabled]="!registerForm.valid" type="submit">Register</button>
                        <ngb-alert *ngIf="registerMessage" [animation]="false" [dismissible]="true" [type]="registerAlertType">{{registerMessage}}</ngb-alert>
                  </div>
            </form>
      </div>
      <div class="d-flex justify-content-center col-sm-3"></div>
</div>