<div class="container">
    <div class="row">
        <h1>Team_name</h1>
        <h3>Project_name</h3>
        <br>
        <table  class="table table-striped table-condensed">
            <tr>
                <th>Member Name</th>
                <th>Photo</th>
                <th>Team Role</th>
                <th>Major(s)</th>
                <th>Minor(s)</th>
                <th>Bio</th>
            </tr>
            <br>
            <tr>
                <th scope="row">1</th>
                <img src="" height="300" width="300">
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
        </table>
    </div>	
</div>